* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}


/* Add styles here! */

html {
  font-size: 18px;
}

h2 {
  margin-block-start: 0px;
}

header {
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

.max-width-wrapper {
  max-width: 650px;
  margin: 0 auto;
  padding: 72px 24px;
}

.intro-chunk {
  max-width: 320px;
}

.intro-chunk > p {
  margin-top: 24px;
}

.title {
  margin-bottom: 56px;
}

strong {
  color: hsl(160deg, 100%, 40%)
}

main {
  background-color: hsl(0deg, 0%, 60%);
}

.card {
  background-color: white;
  margin: auto;
  padding: 24px;
  margin: -24px;
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

.card p {
  font-size: 1.125rem;
  line-height: 1.4;
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  width: fit-content;
  padding: 16px 32px;
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  margin-left: -32px;
  margin-top: -16px;
}

.card p:last-child {
  margin: 0;
}